### Java ###
*.class
*.log
*.ctxt
hs_err_pid*
replay_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Spring Boot ###
# Arquivo de build temporário
.spring-boot-devtools.properties
